{% extends "base.html" %}
{% block content %}
<div class="w-100 h-100 d-flex justify-content-center align-items-center">
    <form class="d-flex flex-column form-centered">
        <label>Введите следующий токен в нашего телеграм-бота <a href="https://t.me/voteproj_account_bot">@voteproj_account_bot</a></label>
        <input type="text" class="form-control my-3" value="{{ token }}" name="token" readonly>
        <button type="submit" class="btn btn-primary mb-2">Войти</button>
        <p class="text-center">Нет аккаунта? <a href="/registration">Зарегистрируйтесь</a></p>
    </form>
</div>
{% endblock %}