{% extends "base.html" %}
{% block content %}
<div class="w-100 h-100 d-flex justify-content-center align-items-center">
    <form class="d-flex flex-column form-centered">
        <div class="mb-3">
            <label for="name">ФИО/Название организации</label>
            <input type="text" class="form-control" id="name" name="name" readonly>
        </div>
        <div class="mb-3">
            <label for="account_type">Тип аккаунта</label>
            <select class="form-select" id="account_type" name="account_type">
                <option value="user" selected>Физ. лицо</option>
                <option value="org">Организация</option>
            </select>
        </div>
        <div class="row mb-3">
            <div class="col">
                <button type="button" class="btn btn-info" id="change_delegate" disabled>Выбрать представителя</button>
            </div>
            <div class="col d-flex align-items-center">
                <p class="text-secondary" id="delegate_name">ФИО представителя</p>
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Зерегистрироваться</button>
    </form>
    <script>
        let change_delegate_btn = document.getElementById("change_delegate");
        let delegate_name = document.getElementById("delegate_name");

        document.getElementById("account_type").addEventListener("change", (event) => {
            if (event.target.value == "org") {
                change_delegate_btn.removeAttribute("disabled");
                delegate_name.classList.remove("text-secondary");
            }
            else {
                change_delegate_btn.setAttribute("disabled", "");
                delegate_name.classList.add("text-secondary");
            }
        });
    </script>
</div>
{% endblock %}